
/*///////////////////////////////
===== Base Typography START =====
///////////////////////////////*/
.intro-text h2,
.intro-section h2 {
  @include heading-2;
  color: $color-main;
}

.intro-section h3 {
  @include heading-3;
  color: $color-main;
}
.intro-section .bold {
  @include heading-4-B;
  color: $color-black;
}
.intro-section .medium {
  @include heading-4-M;
  color: $color-black;
}
.intro-section .regular {
  @include heading-4-R;
  color: $color-black;
}

.intro-section p {
  @include body-text;
  color: $color-black;
}

.intro-section a {
  display: inline-block;
  @include body-text;
  color: $color-white;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: $color-main;
}