/*----- 基礎組件 -----*/
$color-mh-red: #D51826;
$color-light-red: #D51826;
$color-black: #000;
$color-white: #fff;
$color-light-grey: #f2f2f2;
$color-border: #70707067;

$font-Mulish: 'Mulish', sans-serif;
$font-DMsans: 'DM Sans', sans-serif;

$bd-radius-lg: 52px;

/*----- 字體 -----*/
$font-Mulish: 'Mulish', sans-serif;
$font-DMsans: 'DM Sans', sans-serif;
$font-Century-Gothic: 'century-gothic',
  sans-serif; //400, 700可選