
/*/////////////////////////
===== Variables START =====
/////////////////////////*/
/*----- 顏色組件 -----*/
$color-mh-red: #D51826;
$color-light-red: #D51826;
$color-black: #000;
$color-white: #fff;
$color-light-grey: #f2f2f2;
$color-grey: #70707067;


$color-main: $color-mh-red;
$color-border: $color-grey;
$bd-radius-lg: 52px;

/*----- 文字組件 -----*/
$font-Mulish: 'Mulish', sans-serif;
$font-DMsans: 'DM Sans', sans-serif;
$font-Century-Gothic: 'century-gothic',
  sans-serif; //400, 700可選