
/*///////////////////////////////
===== Base Typography START =====
///////////////////////////////*/
.title-level-1 {
  @include heading-2;
  color: $color-main;
}
.title-level-2 {
  @include heading-3;
  color: $color-main;
}
.title-level-3.bold {
  @include heading-4-B;
  color: $color-black;
}
.title-level-3.medium {
  @include heading-4-M;
  color: $color-black;
}
.title-level-3.regular {
  @include heading-4-R;
  color: $color-black;
}

.intro-section p {
  @include body-text;
  color: $color-black;
}

.intro-section a {
  display: inline-block;
  @include body-text;
  color: $color-white;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: $color-main;
}