
/*////////////////////////////////////
===== Intro-type01 Section START =====
////////////////////////////////////*/
/*----- intro-section 灰底 -----*/
.intro-type01-section.bg-grey {
  background-color: $color-light-grey;
}

.intro-type01-content {
  padding: 64px 0;
}

/*----- intro-section 圖片 -----*/
.intro-type01-pic {
  border-top-right-radius: 52px;
  aspect-ratio: 832/952;
  overflow: hidden;
}
.intro-type01-pic img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

/*----- intro-section 文字 -----*/
.intro-type01-text h2 {
  font-family: $font-Century-Gothic;
  // 超級文字縮放公式
  // minWidth(px), maxWidth(px), minFont(px), maxFont(px)
  @include fluid-type(768px, 1536px, 32px, 52px);
  line-height: 1.23;
  font-weight: 700;
  color: $color-mh-red;
  margin-bottom: 80px;
}
.intro-type01-text p {
  font-family: $font-DMsans;
   // 超級文字縮放公式
  // minWidth(px), maxWidth(px), minFont(px), maxFont(px)
  @include fluid-type(768px, 1536px, 18px, 28px);
  line-height: 1.4;
  font-weight: 400;
  color: $color-black;
  margin-bottom: 80px;
}
.intro-type01-text a {
  display: inline-block;
  font-family: $font-DMsans;
   // 超級文字縮放公式
  // minWidth(px), maxWidth(px), minFont(px), maxFont(px)
  @include fluid-type(768px, 1536px, 18px, 28px);
  line-height: 1.4;
  font-weight: 400;
  color: $color-white;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: $color-mh-red;
}


/*/////////////////////////////
===== Desktop First START =====
/////////////////////////////*/
/*----- max-width 1536 -----*/
@media screen and (max-width: 1536px) {
  .intro-type01-text h2,
  .intro-type01-text p {
    margin-bottom: 56px;
  }
  

}

/*----- max-width 1200 -----*/
@media screen and (max-width: 1200px) {}

/*----- max-width 992 -----*/
@media screen and (max-width: 992px) {
  .intro-type01-content {
      padding: 20px 0;
  }
  .intro-type01-text {
    margin: 0 20px 20px 20px;
  }
  .intro-type01-pic {
    margin: 0 20px;
  }
}

/*----- max-width 768 -----*/
@media screen and (max-width: 768px) {}

/*----- max-width 576 -----*/
@media screen and (max-width: 576px) {
  .intro-type01-text {
      margin: 20px 0;
    }
  .intro-type01-pic {
    margin: 0 ;
  }
}