
/*///////////////////////////////
===== TOP-BAR Section START =====
///////////////////////////////*/
/*----- top-bar-section -----*/
.top-bar-section {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: $color-white;
  border-bottom: 1px solid $color-border;
}
/*----- top-bar-content -----*/
.top-bar-content {
  display: flex;
  align-items: center;
  padding: 20px;
}
/*----- logo-set -----*/
.logo-set {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo-set h1 {
  width: 72px;
}
.logo-set p {
  @include nav-text-L;
  margin-left: 24px;
}
/*----- main-nav -----*/
.top-bar-content {
  position: relative;
}
.main-nav-content {
  display: flex;
}
.main-nav a {
  display: block;
  padding: 0 12px;
  @include nav-text-B;
}
/*----- main-nav toggle -----*/
#menu-toggle {
  display: none;
}
.main-nav-toggler {
  background-color: $color-white;
  border: 1px solid $color-black;
  border-radius: 8px;
  padding: 8px; 
  cursor: pointer;
}
.main-nav-toggler .icon-content {
  width: 24px;
  height: 24px;
} 



/*/////////////////////////////
===== Desktop First START =====
/////////////////////////////*/
/*----- max-width 1536 -----*/
@media screen and (max-width: 1536px) {
  .logo-set p {
    margin-left: 16px;
  }
  
}

/*----- max-width 1200 -----*/
@media screen and (max-width: 1200px){}

/*----- max-width 992 -----*/
@media screen and (max-width: 992px) {
  /*----- main-nav -----*/
  .main-nav-content li {
    border-bottom: 1px solid #000;
  }
  /*----- main-nav toggle -----*/
  #menu-toggle:checked ~ .main-nav {
    display: block;
    position: absolute;
    background-color: $color-mh-red;
    top: 100%;
    left: -12px;
    right: -12px;
    padding: 0 24px;
  }
  #menu-toggle:checked ~ .main-nav .main-nav-content {
    flex-direction: column;
  }
  #menu-toggle:checked ~ .main-nav .main-nav-content li a {
    padding: 20px 24px;
    color: $color-white;
  }

}

/*----- max-width 768 -----*/
@media screen and (max-width: 768px) {

}

/*----- max-width 576 -----*/
@media screen and (max-width: 576px) {
  .logo-set h1 {
    width: 72px;
  }
  .top-bar-content {
    padding: 20px 0;
  }
}






