/*////////////////////////////////////
===== Banner-Video Section START =====
////////////////////////////////////*/
.banner-video-content {
  padding: 32px 20px;
}
.video-box {
  width: 100%;
  aspect-ratio: 560/315;
  position: relative;
  border-top-right-radius: 52px;
  overflow: hidden;
}
.video-box video {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.video-box h2 {
  position: absolute;
  left: 80px;
  bottom: 72px;
  font-family: $font-Century-Gothic;
  font-size: 52px;
  line-height: 1.23;
  font-weight: 700;
  color: $color-white;
}

/*/////////////////////////////
===== Desktop First START =====
/////////////////////////////*/

/*----- max-width 1536 -----*/
@media screen and (max-width: 1536px) {
  .video-box h2 {
      left: 56px; //原尺寸80px
      bottom: 40px; //原尺寸72px
      font-size: 39px; //原尺寸52px乘0.75
    }
}

/*----- max-width 1200 -----*/
@media screen and (max-width: 1200px) {}

/*----- max-width 992 -----*/
@media screen and (max-width: 992px) {
  .banner-video-content {
    padding: 20px;
  }
  .video-box h2 {
    left: 32px; // screen1563尺寸56px
    bottom: 24px; // screen1563尺寸40px
  }
}

/*----- max-width 768 -----*/
@media screen and (max-width: 768px) {
  .video-box h2 {
    left: 16px; // screen992尺寸32px
    bottom: 16px; // screen992尺寸24px
    font-size: 29.25px; //screen1563尺寸39px乘0.75
  }
}

/*----- max-width 576 -----*/
@media screen and (max-width: 576px) {
  .banner-video-content {
    padding: 20px 0;
  }
  .video-box h2 {
    font-size: 22.125px; //screen768尺寸29.25px 乘0.75
  }
}