/*////////////////////////////////////
===== Intro-type05 Section START =====
////////////////////////////////////*/
/*----- intro-section 灰底 -----*/
.intro-type05-section.bg-grey {
  background-color: $color-light-grey;
}

.intro-type05-content {
  padding: 64px 0;
}
.intro-type05-main-text {
  margin-bottom: 200px;
}
.intro-type05-content .body-text-item+.body-text-item {
  margin-top: 80px;
}

/*----- intro-section 圖片 -----*/
.intro-type05-pic {
  height: 100%;
  margin-right: calc(-9.33333% - 12px);
}

.intro-type05-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

/*----- intro-section 文字 -----*/
.intro-type05-section h2 {
  font-family: $font-Century-Gothic;
  // 超級文字縮放公式
  // minWidth(px), maxWidth(px), minFont(px), maxFont(px)
  @include fluid-type(768px, 1536px, 32px, 52px);
  line-height: 1.23;
  font-weight: 700;
  color: $color-mh-red;
  margin-bottom: 80px;
}
.intro-type05-section .body-text-title {
  font-family: $font-DMsans;
  // 超級文字縮放公式
  // minWidth(px), maxWidth(px), minFont(px), maxFont(px)
  @include fluid-type(768px, 1536px, 25px, 35px);
  line-height: 1.37;
  font-weight: 500;
  color: $color-mh-red;
}


.intro-type05-section p {
  font-family: $font-DMsans;
  // 超級文字縮放公式
  // minWidth(px), maxWidth(px), minFont(px), maxFont(px)
  @include fluid-type(768px, 1536px, 18px, 28px);
  line-height: 1.4;
  font-weight: 400;
  color: $color-black;
}

.intro-type05-section a {
  display: inline-block;
  font-family: $font-DMsans;
  // 超級文字縮放公式
  // minWidth(px), maxWidth(px), minFont(px), maxFont(px)
  @include fluid-type(768px, 1536px, 18px, 28px);
  line-height: 1.4;
  font-weight: 400;
  color: $color-white;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: $color-mh-red;
}




/*/////////////////////////////
===== Desktop First START =====
/////////////////////////////*/
/*----- max-width 1536 -----*/
@media screen and (max-width: 1536px) {
  .intro-type05-main-text {
      margin-bottom: 80px;
    }
  .intro-type05-section h2 {
    margin-bottom: 64px;
  }
  .intro-type05-content .body-text-item+.body-text-item {
    margin-top: 64px;
  }
    
}

/*----- max-width 1200 -----*/
@media screen and (max-width: 1200px) {
  
}
    
/*----- max-width 992 -----*/
@media screen and (max-width: 992px) {
  .intro-type05-pic {
    height: 100%;
    margin-right: 0;
  }
  .intro-type05-content {
    padding: 20px 0;
  }
  .intro-type05-main-text {
    margin-bottom: 64px;
  }
  .intro-type05-section h2 {
    margin-bottom: 32px;
  }
  .intro-type05-content .body-text-item+.body-text-item {
    margin-top: 32px;
  }
  .intro-type05-text {
    margin: 0 20px 20px 20px;
  }

  .intro-type05-pic {
    margin: 0 20px;
  }
}

/*----- max-width 768 -----*/
@media screen and (max-width: 768px) {}

/*----- max-width 576 -----*/
@media screen and (max-width: 576px) {}