/*///////////////////////////////////////////////
===== Intro-02 professionalManagement Section START =====
///////////////////////////////////////////////*/
.professionalManagement .intro-content {
  @include interpolate((padding-top, padding-bottom), 768px, 1560px, 20px, 64px);
}

/*----- intro-card -----*/
.professionalManagement .intro-content .intro-card {
  height: 100%;
  background-color: $color-white;
  border-top-right-radius: 52px;
  @include interpolate((margin-right, margin-left), 992px, 1560px, 0px, 11px);
}
.professionalManagement .intro-content .intro-card.d-flex {
  display: flex;
  align-items: center;
}


/*----- intro-section 圖片 -----*/
.professionalManagement .intro-pic.small-pic {
  width: 43%;
  aspect-ratio: 350/350;
}
.professionalManagement .intro-pic img {
  object-fit: contain;
}

/*----- intro-section 文字 -----*/
.professionalManagement .intro-text {
  flex: 1;
  margin: 0;
  padding: 20px;
}
.intro-section.professionalManagement .title-level-2 {
  @include interpolate(margin-bottom, 768px, 1560px, 32px, 48px);
}
.intro-section.professionalManagement .title-level-3 {
  @include interpolate(margin-bottom, 768px, 1560px, 32px, 48px);
  color: $color-main;
}
.professionalManagement .intro-text.medium {
  color: $color-main;
  margin-bottom: 24px;
}


/*/////////////////////////////
===== Desktop First START =====
/////////////////////////////*/
/*----- max-width 1536 -----*/
@media screen and (max-width: 1536px) {}

/*----- max-width 1200 -----*/
@media screen and (max-width: 1200px) {}

/*----- max-width 992 -----*/
@media screen and (max-width: 992px) {
  .professionalManagement .intro-content .intro-card.d-flex {
    flex-direction: column;
  }
}

/*----- max-width 768 -----*/
@media screen and (max-width: 768px) {}

/*----- max-width 576 -----*/
@media screen and (max-width: 576px) {}