/*///////////////////////////////////////////////////
===== Intro-01 productsTransition Section START =====
///////////////////////////////////////////////////*/

.intro-section.productsTransition .intro-content {
  @include interpolate((padding-top, padding-bottom), 768px, 1560px, 20px, 64px);
}

/*----- intro-section 圖片 -----*/
.productsTransition .intro-pic {
  aspect-ratio: 832/952;
}


/*/////////////////////////////
===== Desktop First START =====
/////////////////////////////*/
/*----- max-width 1536 -----*/
@media screen and (max-width: 1536px) {}

/*----- max-width 1200 -----*/
@media screen and (max-width: 1200px) {}

/*----- max-width 992 -----*/
@media screen and (max-width: 992px) {
  .intro-section.productsTransition .intro-text {
    padding: 0 20px 20px 20px;
  }
}

/*----- max-width 768 -----*/
@media screen and (max-width: 768px) {}

/*----- max-width 576 -----*/
@media screen and (max-width: 576px) {
  .intro-section.productsTransition .intro-text {
    padding: 20px 0;
  }
}