/*////////////////////////////////////////////
===== Intro-02 ourStrengths Section START =====
////////////////////////////////////////////*/
.ourStrengths .intro-content {
  @include interpolate((padding-top, padding-bottom), 768px, 1560px, 20px, 64px);
}

.ourStrengths .row.mb-128 {
  @include interpolate(margin-bottom, 992px, 1560px, 0px, 128px);
}

/*----- intro-section 圖片 -----*/
.ourStrengths .intro-pic {
  aspect-ratio: 1664/739;
}

/*----- intro-section 文字 -----*/
.intro-section.ourStrengths .intro-text h2 {
  // ▽▽ type02-only ▽▽
  @include interpolate(margin-bottom, 768px, 1560px, 48px, 80px);
}

/*/////////////////////////////
===== Desktop First START =====
/////////////////////////////*/
/*----- max-width 1536 -----*/
@media screen and (max-width: 1536px) {}

/*----- max-width 1200 -----*/
@media screen and (max-width: 1200px) {}

/*----- max-width 992 -----*/
@media screen and (max-width: 992px) {
  .intro-section.ourStrengths .intro-text {
    margin: 20px;
  }
}

/*----- max-width 768 -----*/
@media screen and (max-width: 768px) {}

/*----- max-width 576 -----*/
@media screen and (max-width: 576px) {
  .intro-section.ourStrengths .intro-text {
    margin: 20px 0;
  }
}