

/*////////////////////////////////
===== Intro-06 Malaysia START =====
/////////////////////////////////*/
/*----- intro-section 上下間距 -----*/
.intro-section.malaysia .intro-content {
  @include interpolate((padding-top, padding-bottom), 768px, 1560px, 20px, 64px);
}

/*----- intro-section 文字區塊 -----*/
.intro-section.malaysia .intro-text:last-of-type {
  // margin-bottom: clamp(2rem, 2vw, 4.8rem);
  @include interpolate(margin-bottom, 992px, 1560px, 32px, 80px);
}
/*----- intro-section 文字列表 -----*/
.intro-section.malaysia .intro-item {
  display: flex;
}
.intro-section.malaysia .intro-item + .intro-item {
  // margin-top: clamp(2rem, 2vw, 4.8rem);
  @include interpolate(margin-top, 768px, 1560px, 32px, 80px);
}
.intro-section.malaysia .intro-item p:first-of-type {
  width: 14%;
  @include interpolate(margin-right, 768px, 1560px, 16px, 24px);
  text-align: right;
  font-weight: 700;
  color: $color-main;
}

.intro-section.malaysia .intro-text {
  margin: 0;
}


/*----- intro-section 圖片 -----*/
.intro-section.malaysia .intro-pic {
  margin-top: -23%;
  border-radius: 0;
}
.intro-section.malaysia .intro-pic img {
  object-fit: cover;
}













  /*///////////////////////////
===== Desktop First START =====
/////////////////////////////*/
/*----- max-width 1536 -----*/
@media screen and (max-width: 1536px) {}

/*----- max-width 1200 -----*/
@media screen and (max-width: 1200px) {}

/*----- max-width 992 -----*/
@media screen and (max-width: 992px) {}

/*----- max-width 768 -----*/
@media screen and (max-width: 768px) {}

/*----- max-width 576 -----*/
@media screen and (max-width: 576px) {}