/*////////////////////////////////
===== Intro-02 our3D START =====
////////////////////////////////*/
.our3D .intro-content {
  @include interpolate((padding-top, padding-bottom), 768px, 1560px, 20px, 64px);
}

.intro-section.our3D .row.intro-text-wrap {
  @include interpolate(margin-bottom, 768px, 1560px, 48px, 80px);
}

/*----- intro-section 小卡設定 -----*/
.intro-section.our3D .intro-card {
  @include interpolate(margin-bottom, 768px, 1560px, 20px, 0px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.14),
              0px 15px 5px -10px rgba(0, 0, 0, 0.12), 
              0px 5px 25px rgba(0, 0, 0, 0.2);
}
/*----- intro-section 圖片 -----*/
.intro-section.our3D .intro-pic {
  aspect-ratio: 510/510;
  border-radius: 0;
}

.intro-section.our3D .intro-pic img {
  // height: auto;
  object-fit: contain;
}

/*----- intro-section 文字 -----*/
.intro-section.our3D .intro-text {
  margin: 0;
}

.intro-section.our3D .intro-text h2 {
  // @include interpolate(margin-bottom, 768px, 1560px, 20px, 64px);
  @include interpolate(margin-bottom, 768px, 1560px, 80px, 128px);
}

.intro-section.our3D .intro-text h3 {
  @include interpolate((padding-top, padding-bottom), 768px, 1920px, 16px, 48px);
  color: $color-black;
  text-align: center;
}





/*/////////////////////////////
===== Desktop First START =====
/////////////////////////////*/
/*----- max-width 1536 -----*/
@media screen and (max-width: 1536px) {}

/*----- max-width 1200 -----*/
@media screen and (max-width: 1200px) {}

/*----- max-width 992 -----*/
@media screen and (max-width: 992px) {
  .intro-section.our3D .intro-pic.ratio-modify {
    aspect-ratio: 1670/588;
  }
  .intro-section.our3D .intro-pic img {
    object-fit: contain;
  }
}

/*----- max-width 768 -----*/
@media screen and (max-width: 768px) {
  .intro-section.our3D .intro-pic.ratio-modify {
    aspect-ratio: 1/1;
  }
  .intro-section.our3D .intro-pic img {
    object-fit: cover;
  }
}

/*----- max-width 576 -----*/
@media screen and (max-width: 576px) {}